
@{
    ViewBag.Title = "Reporte Proyectos IT";
}

<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="breadcrumb">
                    <li>IT Sistemas</li>
                    <li>Reportes</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>Proyectos IT</h1>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <iframe width="1140" height="800"
                    src="https://app.powerbi.com/view?r=eyJrIjoiZDVmYWU3NDUtZjBjZS00YjNmLWIxZGQtNDcxNmQzZmYzMzUyIiwidCI6IjM1NTQzNjIwLTk2YjEtNDg4ZS05NjhhLWYyMTIyMjE4OWE4YSIsImMiOjZ9" frameborder="0" allowFullScreen="true">

            </iframe>

        </div>
    </div>
</div>

