
<div id="main" class="zone">
    <div class="zone-wrapper clearfix">
        <div id="main-inner" class="section-wrapper">
            <div class="section">
                <div class="section-inner clearfix">
                    <div id="content" class="column" role="main">
                        <main class="content-inner clearfix">
                            <div class="region region-content clearfix">
                                <div class="panel-2col-stacked clearfix panel-display">
                                    <div class="panel-col-top panel-panel">
                                        <div class="inside">
                                            <div class="panel-pane pane-node-title">
                                                <div class="pane-content">
                                                    <h1 class="title-node">Chile, Argentina, Uruguay y Paraguay formalizaron candidatura para organizar el Mundial de 2030</h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="center-wrapper">
                                        <div class="panel-col-first panel-panel">
                                            <div class="inside">
                                                <div itemscope="" itemtype="http://schema.org/NewsArticle" class="">
                                                    <div class="panel-pane pane-custom pane-1">
                                                        <div class="pane-content">
                                                            <div class='powGallery'>
                                                                <div class="fancy_box"><a href='https://www.eluniverso.com/sites/default/files/styles/powgallery_1024/public/fotos/2019/07/topshots-topshot-fbl-wc-2018-uru-arg_19204144.jpg?itok=HDiy_bPF' data-fancybox='7429695' data-options='{"loop":true,"buttons":["zoom","fullScreen","thumbs","close"],"animationEffect":"fade","clickOutside":"close","arrows":true}' data-caption='Lionel Messi y Luis Suárez, compañeros en el FC Barcelona, apoyaron la candidatura en un partido de eliminatorias.' data-srcset='https://www.eluniverso.com/sites/default/files/styles/powgallery_460/public/fotos/2019/07/topshots-topshot-fbl-wc-2018-uru-arg_19204144.jpg?itok=5yMIunJ4 460w, https://www.eluniverso.com/sites/default/files/styles/powgallery_1024/public/fotos/2019/07/topshots-topshot-fbl-wc-2018-uru-arg_19204144.jpg?itok=HDiy_bPF 1024w, https://www.eluniverso.com/sites/default/files/styles/powgallery_1280/public/fotos/2019/07/topshots-topshot-fbl-wc-2018-uru-arg_19204144.jpg?itok=uDFDRBWi 1280w'><img src='' alt='Chile, Argentina, Uruguay y Paraguay formalizaron candidatura para organizar el Mundial de 2030' /></a></div>
                                                                <div class='slick_slider' data-slick='{"slidesToShow":1,"slidesToScroll":1,"adaptiveHeight":true,"dots":true,"verticalSwiping":false,"touchMove":true,"touchThreshold":800,"draggable":false,"speed":300,"prevArrow":"<button data-fancybox-prev=\"\" class=\"fancybox-button fancybox-button--arrow_left\" title=\"Previous\"><svg viewBox=\"0 0 40 40\"><path d=\"M10,20 L30,20 L10,20 L18,28 L10,20 L18,12 L10,20\"><\/path><\/svg><\/button>","nextArrow":"<button data-fancybox-next=\"\" class=\"fancybox-button fancybox-button--arrow_right\" title=\"Next\"><svg viewBox=\"0 0 40 40\"><path d=\"M30,20 L10,20 L30,20 L22,28 L30,20 L22,12 L30,20\"><\/path><\/svg><\/button>"}'><div class='slide'><div class='image-wrapper'><img src='https://www.eluniverso.com/sites/default/files/styles/powgallery_1024/public/fotos/2019/07/topshots-topshot-fbl-wc-2018-uru-arg_19204144.jpg?itok=HDiy_bPF' srcset='https://www.eluniverso.com/sites/default/files/styles/powgallery_460/public/fotos/2019/07/topshots-topshot-fbl-wc-2018-uru-arg_19204144.jpg?itok=5yMIunJ4 460w, https://www.eluniverso.com/sites/default/files/styles/powgallery_1024/public/fotos/2019/07/topshots-topshot-fbl-wc-2018-uru-arg_19204144.jpg?itok=HDiy_bPF 1024w, https://www.eluniverso.com/sites/default/files/styles/powgallery_1280/public/fotos/2019/07/topshots-topshot-fbl-wc-2018-uru-arg_19204144.jpg?itok=uDFDRBWi 1280w' sizes='(max-width: 1025px) 800px, 100vw' alt='Chile, Argentina, Uruguay y Paraguay formalizaron candidatura para organizar el Mundial de 2030' /><div class="enlarge"><div class="icon-container"><svg viewBox="0 0 24 24"><path d="M10,21V19H6.41L10.91,14.5L9.5,13.09L5,17.59V14H3V21H10M14.5,10.91L19,6.41V10H21V3H14V5H17.59L13.09,9.5L14.5,10.91Z" /></svg></div></div></div><div class='caption'>Lionel Messi y Luis Suárez, compañeros en el FC Barcelona, apoyaron la candidatura en un partido de eliminatorias.  </div></div></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel-pane pane-block pane-addtoany-addtoany-button pane-addtoany block-addtoany-addtoany-button btn-redes">



                                                        <div class="pane-content">
                                                            <span class="a2a_kit a2a_target addtoany_list" id="da2a_1">
                                                                <a class="a2a_button_facebook"></a>
                                                                <a class="a2a_button_twitter"></a>
                                                                <a class="a2a_button_whatsapp"></a>
                                                                <a class="a2a_button_email"></a>



                                                            </span>
                                                            <script type="text/javascript">
<!--    //--><![CDATA[//><!--
                                                                if (window.da2a) da2a.script_load();
                                                                //--><!]]>
                                                            </script>
                                                        </div>


                                                    </div>
                                                    <div class="panel-pane pane-views pane-datos-nota-ampliada nota-canal-fecha">



                                                        <div class="pane-content">
                                                            <div class="view view-datos-nota-ampliada view-id-datos_nota_ampliada view-display-id-block view-dom-id-64bc8cd4dd68cd5767e0333fd7069867">



                                                                <div class="view-content">
                                                                    <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">

                                                                        <div class="views-field views-field-field-seccion-principal">        <div class="field-content"><a href="/futbol-internacional" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">Fútbol Internacional</a></div>  </div>
                                                                        <div class="views-field views-field-field-fuentes">        <div class="field-content">AP</div>  </div>
                                                                        <div class="views-field views-field-php-2 views-field-published-at">        <span class="field-content">17 de Julio, 2019 - 16h07</span>  </div>
                                                                        <div class="views-field views-field-php-3 views-field-published-at-1">        <span class="field-content">17 Jul 2019 - 16:07</span>  </div>
                                                                    </div>
                                                                </div>






                                                            </div>
                                                        </div>


                                                    </div>
                                                    <div class="panel-pane pane-views pane-noticia-ampliada bloque-nota-noticias-relacionadas noticia-relacionada-desktop">

                                                        <h3 class="pane-title">
                                                            Noticias relacionadas
                                                        </h3>


                                                        <div class="pane-content">
                                                            <div class="view view-noticia-ampliada view-id-noticia_ampliada view-display-id-noticias_relacionadas noticias-relacionadas view-dom-id-5ba65b28ea55d9c8aaafce7860e4cb1a">



                                                                <div class="view-content">
                                                                    <div class="item-list">
                                                                        <ul>
                                                                            <li class="views-row views-row-1 views-row-odd views-row-first">
                                                                                <div class="views-field views-field-title">        <span class="field-content"><a href="/deportes/2019/03/12/nota/7229909/mundial-48-selecciones-generaria-300-400-millones-dolares-extras">Un Mundial con 48 selecciones generaría entre 300 y 400 millones de dólares extras de ganancia</a></span>  </div>
                                                                                <div class="views-field views-field-field-imagen-principal">
                                                                                    <div class="field-content">
                                                                                        <div about="/2019/03/12/foto/7229906/mundial-48-selecciones-generaria-300-400-millones-dolares-extras-ganancia" typeof="schema:Photograph sioc:Item foaf:Document" class="ds-1col node node-fotos view-mode-foto_solo_foto clearfix">


                                                                                            <div class="field field-name-field-imagen-foto field-type-image field-label-hidden"><img typeof="foaf:Image" data-src="https://www.eluniverso.com/sites/default/files/styles/fotogaleria_portada_secundario/public/fotos/2019/03/000_1ej3mz.jpg?itok=0pLwD3jN" src="/sites/default/files/image_placeholder_transparent.gif" alt="Un Mundial con 48 selecciones generaría entre 300 y 400 millones de dólares extras de ganancia" title="Un Mundial con 48 selecciones generaría entre 300 y 400 millones de dólares extras de ganancia" /><noscript><img typeof="foaf:Image" src="https://www.eluniverso.com/sites/default/files/styles/fotogaleria_portada_secundario/public/fotos/2019/03/000_1ej3mz.jpg?itok=0pLwD3jN" alt="Un Mundial con 48 selecciones generaría entre 300 y 400 millones de dólares extras de ganancia" title="Un Mundial con 48 selecciones generaría entre 300 y 400 millones de dólares extras de ganancia" /></noscript></div>
                                                                                        </div>

                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                            <li class="views-row views-row-2 views-row-even views-row-last">
                                                                                <div class="views-field views-field-title">        <span class="field-content"><a href="/deportes/2019/05/06/nota/7318508/inauguran-linea-metro-doha-miras-mundial-futbol-catar-2022">Inauguran línea de metro en Doha con miras al Mundial de Catar 2022</a></span>  </div>
                                                                                <div class="views-field views-field-field-imagen-principal">
                                                                                    <div class="field-content">
                                                                                        <div about="/2019/05/06/foto/7318505/inauguran-linea-metro-doha-miras-mundial-futbol-catar-2022" typeof="schema:Photograph sioc:Item foaf:Document" class="ds-1col node node-fotos view-mode-foto_solo_foto clearfix">


                                                                                            <div class="field field-name-field-imagen-foto field-type-image field-label-hidden"><img typeof="foaf:Image" data-src="https://www.eluniverso.com/sites/default/files/styles/fotogaleria_portada_secundario/public/fotos/2019/05/catar_metro.jpg?itok=epOjHmMH" src="/sites/default/files/image_placeholder_transparent.gif" alt="Inauguran línea de metro en Doha con miras al Mundial de Fútbol en Catar 2022" title="Inauguran línea de metro en Doha con miras al Mundial de Fútbol en Catar 2022" /><noscript><img typeof="foaf:Image" src="https://www.eluniverso.com/sites/default/files/styles/fotogaleria_portada_secundario/public/fotos/2019/05/catar_metro.jpg?itok=epOjHmMH" alt="Inauguran línea de metro en Doha con miras al Mundial de Fútbol en Catar 2022" title="Inauguran línea de metro en Doha con miras al Mundial de Fútbol en Catar 2022" /></noscript></div>
                                                                                        </div>

                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>






                                                            </div>
                                                        </div>


                                                    </div>
                                                    <div class="panel-pane pane-views pane-datos-nota-ampliada pane-node-body">



                                                        <div class="pane-content">
                                                            <div class="view view-datos-nota-ampliada view-id-datos_nota_ampliada view-display-id-block_11 view-dom-id-30d9c3797e27d655e8bb8f51c457b37e">



                                                                <div class="view-content">
                                                                    <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">

                                                                        <div class="views-field views-field-body">
                                                                            <div class="field-content">
                                                                                <div class="field-name-body">
                                                                                    <div class="location-event">

                                                                                    </div>
                                                                                    <p><p><strong>Chile</strong> formalizó el miércoles su postulación para organizar el<strong> Mundial de 2030</strong> junto a <strong>Argentina</strong>, <strong>Paraguay</strong> y <strong>Uruguay</strong>, mientras abundaron las bromas entre los líderes sudamericanos por las polémicas en la reciente Copa América de Brasil.</p>
                                                                                    <p>El presidente chileno Sebastián Piñera suscribió el protocolo de adhesión tras la cumbre que tuvo lugar en la ciudad de Santa Fe, capital de la provincia del mismo nombre.</p>
                                                                                    <div id="boletineseudfp"></div><p>“Vamos que ahora hay que ganarla”, expresó el presidente anfitrión Mauricio Macri tras la ceremonia, de la cual participaron Tabaré Vázquez de Uruguay y Mario Abdo Benítez de Paraguay.</p>
                                                                                    <div id="vidoomy"></div>
                                                                                    <div id="Videoinread" class="dfp-slot atm-banner-Videoinread atm-banner-mappingvideoinread" style="background: none; height: 1px; padding-bottom: 1px; margin-bottom: 1px; display: none;">
                                                                                        <script>var dfpSlot = { 'label': 'Videoinread', 'seccion': ['ALL'], 'subseccion': ['ALL'], 'type': ['nota'] }; var resolution = showSlot('0', sizeWindow); var resultSlot = showZone(dfpSlot); if (resolution && resultSlot) { cX.callQueue.push(['invoke', function () { googletag.cmd.push(function () { googletag.display('Videoinread'); }); }]); document.getElementById('Videoinread').classList.add('publicity-content'); }</script>
                                                                                    </div><p>Chile fue el último en sumarse a la iniciativa que originariamente habían impulsado Uruguay y Argentina, campeón y subcampeón respectivamente del primer mundial de fútbol organizado por los uruguayos en 1930, y que tras un acuerdo político incorporó Paraguay.</p>
                                                                                    <p>Salvo este último, los otros tres tienen experiencia como anfitriones de la Copa del Mundo: Uruguay (1930), Chile (1962) y Argentina (1978).</p>
                                                                                    <div id="Ampliada" class="dfp-slot atm-banner-mappingampliada">
                                                                                        <script>var dfpSlot = { "label": "Ampliada", "seccion": ["ALL"], "subseccion": ["ALL"], "type": ["nota", "columnista"] }; var resolution = showSlot('0', sizeWindow); var resultSlot = showZone(dfpSlot); if (resolution && resultSlot) { cX.callQueue.push(['invoke', function () { googletag.cmd.push(function () { googletag.display('Ampliada'); }); }]); document.getElementById('Ampliada').classList.add('publicity-content'); }</script>
                                                                                    </div><p>España y Portugal contemplarán la posibilidad de presentar una candidatura al Mundial 2030, anunciaron sus respectivas federaciones en junio. Inglaterra ha indicado que sopesa buscar la sede, junto con las otras federaciones del Reino Unido (Irlanda del Norte, Gales y Escocia), así como con Irlanda.</p>
                                                                                    <p>Bulgaria, Grecia, Rumania y Serbia plantearon en noviembre pasado su intención de presentar una candidatura conjunta.</p>
                                                                                    <p>La sede mundialista será anunciada durante el Congreso de la FIFA en Qatar, en el marco del Mundial de 2022. En 2026, el Mundial se llevará a cabo en Estados Unidos, México y Canadá. La firma del documento se dio justo después del plenario de presidentes del Mercosur en el que abundaron las chicanas futbolísticas.</p>
                                                                                    <p>“No vamos a hablar del VAR”, bromeó Macri frente a su colega brasileño Jair Bolsonaro presente en el cónclave. La referencia aludía a las polémicas arbitrales en el clásico sudamericano que disputaron en la semifinal de la Copa América que conquistó Brasil. Indignado con las polémicas, el capitán argentino Lionel Messi denunció corrupción y dijo que el certamen estaba arreglado para que lo ganara el anfitrión.</p>
                                                                                    <p>Bolsonaro no tomó el comentario, pero ironizó sobre la derrota de Chile en la otra semifinal ante Perú.</p>
                                                                                    <p>“Ven Piñera, su problema es con Perú no con Brasil. La Copa América, dejémoslo claro”, comentó el mandatario brasileño, provocando la sonrisa de sus pares. (D)</p>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="views-field views-field-php">        <span class="field-content"></span>  </div>
                                                                    </div>
                                                                </div>






                                                            </div>
                                                        </div>


                                                    </div>
                                                    <div class="panel-pane pane-panels-mini pane-nota-tokens">



                                                        <div class="pane-content">
                                                            <div class="panel-display panel-2col clearfix" id="mini-panel-nota_tokens">
                                                                <div class="panel-panel panel-col-first">
                                                                    <div class="inside">
                                                                        <div class="panel-pane pane-views pane-datos-nota-ampliada tokens-nota">



                                                                            <div class="pane-content">
                                                                                <div class="view view-datos-nota-ampliada view-id-datos_nota_ampliada view-display-id-block_6 nota-tokens view-dom-id-a0cc1ece5457b8703a4257f267a3e042">



                                                                                    <div class="view-content">
                                                                                        <div>

                                                                                            <span class="views-field views-field-field-keywords">        <a href="/tema/futbol-internacional" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">Fútbol Internacional</a>  </span>
                                                                                            <span class="views-field views-field-field-equipo">        <a href="/equipo/chile" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">Selección de Chile</a><a href="/equipo/argentina" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">Selección de Argentina</a><a href="/equipo/paraguay" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">Selección de Paraguay</a><a href="/equipo/nacional-0" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">Nacional de Uruguay</a>  </span>
                                                                                        </div>
                                                                                    </div>






                                                                                </div>
                                                                            </div>


                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="panel-panel panel-col-last">
                                                                    <div class="inside">
                                                                        <div class="panel-pane pane-block pane-addtoany-addtoany-button pane-addtoany block-addtoany-addtoany-button btn-redes">



                                                                            <div class="pane-content">
                                                                                <span class="a2a_kit a2a_target addtoany_list" id="da2a_2">
                                                                                    <a class="a2a_button_facebook"></a>
                                                                                    <a class="a2a_button_twitter"></a>
                                                                                    <a class="a2a_button_whatsapp"></a>
                                                                                    <a class="a2a_button_email"></a>



                                                                                </span>
                                                                            </div>


                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <div class="panel-pane pane-block pane-block-406 pane-block">



                                                        <div class="pane-content">
                                                            <div style="text-align: center;" class="subscribe_form deportes">
                                                                <form method="POST" action="https://eluniverso.activehosted.com/proc.php" id="_form_9_" class="_form _form_9 _inline-form _inline-style _dark" novalidate>
                                                                    <input type="hidden" name="u" value="9" />
                                                                    <input type="hidden" name="f" value="9" />
                                                                    <input type="hidden" name="s" />
                                                                    <input type="hidden" name="c" value="0" />
                                                                    <input type="hidden" name="m" value="0" />
                                                                    <input type="hidden" name="act" value="sub" />
                                                                    <input type="hidden" name="v" value="2" />
                                                                    <div class="_form-content">
                                                                        <div class="_form_element _x35592381 _inline-style _clear">
                                                                            <div class="_form-title">
                                                                                RECIBE NUESTRO BOLETÍN DEPORTIVO
                                                                            </div>
                                                                        </div>
                                                                        <div class="_form_element _x76228343 _inline-style _clear">
                                                                            <div class="_html-code">
                                                                                <p>
                                                                                    Y mantente al tanto de las últimas noticias del deporte nacional e internacional.
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="_form_element _x75142238 _inline-style ">
                                                                            <label class="_form-label">
                                                                                &nbsp;
                                                                            </label>
                                                                            <div class="_field-wrapper">
                                                                                <input type="text" name="email" placeholder="Correo electrónico" required />
                                                                            </div>
                                                                        </div>
                                                                        <div class="_button-wrapper _inline-style">
                                                                            <button id="_form_9_submit" class="_submit button success small expanded" type="submit">
                                                                                Registrarme
                                                                            </button>
                                                                        </div>
                                                                        <div class="_clear-element">
                                                                        </div>
                                                                    </div>
                                                                    <div class="_form-thank-you" style="display:none;">
                                                                    </div>
                                                                </form>
                                                                <div style="margin-top: 0.7rem; display: inline-block;"><a href="http://bit.ly/2NnB5sa"><p style="text-align: center; margin-bottom: 0;"><img src="https://www.eluniverso.com/sites/default/files/1031-112.jpg"></p></a></div>
                                                            </div>

                                                        </div>


                                                    </div>
                                                    <div class="panel-pane pane-views pane-datos-nota-ampliada">



                                                        <div class="pane-content">
                                                            <div class="view view-datos-nota-ampliada view-id-datos_nota_ampliada view-display-id-block_8 view-dom-id-f9112e4b08b49c40e904ca2042b58e60">



                                                                <div class="view-content">
                                                                    <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">

                                                                        <div>
                                                                            <div>
                                                                                <div class="element-invisible" itemprop="headline">Chile, Argentina, Uruguay y Paraguay formalizaron candidatura para organizar el Mundial de 2030</div>
                                                                                <div class="element-invisible" itemprop="articleSection">Fútbol Internacional</div>
                                                                                <div class="element-invisible" itemprop="datePublished">2019-07-17T16:07:58-05:00</div>
                                                                                <div class="element-invisible" itemprop="dateModified">2019-07-17T16:07:58-05:00</div>
                                                                                <div class="element-invisible" itemprop="description">Chile fue el último en sumarse a la iniciativa que originariamente habían impulsado Uruguay y Argentina.</div>
                                                                                <div class="element-invisible" itemprop="author">El universo Redaccion</div>
                                                                                <div class="element-invisible" itemprop="publisher" itemscope="" itemtype="https://schema.org/Organization">
                                                                                    <div itemprop="name"> El Universo </div>
                                                                                    <div itemprop="logo" itemscope="" itemtype="https://schema.org/ImageObject">
                                                                                        <div itemprop="url">http://www.eluniverso.com/data/recursos/banners/logo-el-universo.jpg"</div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>






                                                            </div>
                                                        </div>


                                                    </div>
                                                    <div class="panel-pane pane-block pane-block-1156 pane-block link-errores">



                                                        <div class="pane-content">
                                                            <div id="eluniverso_errores_kjlwq1"></div>
                                                        </div>


                                                    </div>
                                                    <div class="panel-pane pane-block pane-block-1583 pane-block">




                                                    </div>
                                                    <div class="panel-pane pane-block pane-block-56 pane-block">





                                                    </div>
                                                    <div class="panel-pane pane-block pane-block-1586 pane-block">



                                                        <div class="pane-content">
                                                            <div id="taboola-below-article-thumbnails"></div>
                                                            <script type="text/javascript">
                                                                window._taboola = window._taboola || [];
                                                                _taboola.push({
                                                                    mode: 'organic-thumbnails-a',
                                                                    container: 'taboola-below-article-thumbnails',
                                                                    placement: 'Below Article Thumbnails',
                                                                    target_type: 'mix'
                                                                });
                                                            </script>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-col-last panel-panel">
                                            <div class="inside">
                                                <div class="panel-pane pane-block pane-eluniverso-mrbean-5b16bb31e7923 pane-eluniverso-mrbean">



                                                    <div class="pane-content">
                                                        <div class="widget">
                                                            <h3 class="widget_title">Más en Deportes</h3>

                                                            <ul class="list border">
                                                                <li class="item">

                                                                    <a href="https://www.eluniverso.com/deportes/2019/07/17/nota/7429635/corea-norte-corea-sur-compartiran-grupo-eliminatorias-catar-2022"> Corea del Norte y Corea del Sur compartirán grupo de eliminatorias rumbo a Catar-2022 </a>
                                                                    <a class="th">
                                                                        <img src="https://www.eluniverso.com/sites/default/files/styles/nota_ampliada_normal_foto/public/fotos/2019/07/topshots-topshot-fbl-wc-2018-match28-kor-mex_24775042.jpg?itok=oeic-QCX"
                                                                             alt="Corea del Norte y Corea del Sur compartirán grupo de eliminatorias rumbo a Catar-2022"
                                                                             onerror="this.onerror=null;this.src='https://www.eluniverso.com/sites/all/themes/eluniverso/images/eu-imagen-redes.jpg';" />
                                                                    </a>
                                                                </li>
                                                                <li class="item">

                                                                    <a href="https://www.eluniverso.com/deportes/2019/07/18/nota/7429590/clavadista-13-anos-oro"> Deportista china logra oro en Mundial con apenas 13 años </a>
                                                                    <a class="th">
                                                                        <img src="https://www.eluniverso.com/sites/default/files/styles/nota_ampliada_normal_foto/public/fotos/2019/07/17798747.jpg?itok=wFiaeQiU"
                                                                             alt="Deportista china logra oro en Mundial con apenas 13 años"
                                                                             onerror="this.onerror=null;this.src='https://www.eluniverso.com/sites/all/themes/eluniverso/images/eu-imagen-redes.jpg';" />
                                                                    </a>
                                                                </li>
                                                                <li class="item">

                                                                    <a href="https://www.eluniverso.com/deportes/2019/07/17/nota/7429575/mauricio-montes-37-anos-figura-convocados-peru-juegos-panamericanos"> Mauricio Montes, de 37 años, figura entre los convocados de Perú para los Juegos Panamericanos </a>
                                                                    <a class="th">
                                                                        <img src="https://www.eluniverso.com/sites/default/files/styles/nota_ampliada_normal_foto/public/fotos/2019/07/5ca118ae5ef82.jpeg?itok=q2Iyia79"
                                                                             alt="Mauricio Montes, de 37 años, figura entre los convocados de Perú para los Juegos Panamericanos"
                                                                             onerror="this.onerror=null;this.src='https://www.eluniverso.com/sites/all/themes/eluniverso/images/eu-imagen-redes.jpg';" />
                                                                    </a>
                                                                </li>
                                                            </ul>



                                                            <div class="more">
                                                                <a href="https://www.eluniverso.com/deportes/"> Ver más de Deportes </a>
                                                            </div>

                                                        </div>


                                                    </div>


                                                </div>
                                                <div class="panel-separator"></div><div class="panel-pane pane-block pane-glr-dfp-23 pane-glr-dfp">



                                                    <div class="pane-content">
                                                        <!-- Adslot 23 declaration -->
                                                        <div id="Middle2" class="dfp-slot atm-banner-middle2" data-mapping='["[1024, 768], [[250,250],[300,250],[300,600]]","[980, 600], [[250,250],[300,250]]","[770, 300], [[250,250],[300,250]]","[0, 0], [[250,250],[300,250]]"]' data-size="[300,250]" data-label="Middle2" data-id="Universo_Middle2">
                                                            <script>
                                                                var dfpSlot = { "label": "Middle2", "seccion": ["frontpage", "noticias", "guayaquil", "deportes", "entretenimiento", "tendencias", "vida", "larevista", "clasificados", "editoriales", "opinion", "tabladeposiciones", "!frontopinion", "torneos_datafactory_calendarios", "torneos_datafactory_partidos", "torneos_datafactory", "torneos_datafactory_partidos_del_dia", "empleosyoficios", "bienesraicesyconstrucciones", "vehiculosytransportes", "oportunidades"], "subseccion": ["ALL"], "type": ["frontpage", "nota", "article", "evento", "estatica", "clasificados"] };
                                                                var resolution = showSlot('0', sizeWindow);
                                                                var resultSlot = showZone(dfpSlot)
                                                                if (resolution && resultSlot) {
                                                                    cX.callQueue.push(['invoke', function () {
                                                                        googletag.cmd.push(function () { googletag.display('Middle2'); });
                                                                    }]); document.getElementById('Middle2').classList.add('publicity-content');
                                                                }
                                                            </script>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="panel-separator"></div><div class="panel-pane pane-block pane-eluniverso-mrbean-5b04855966b48 widget videos pane-eluniverso-mrbean widget videos">



                                                    <div class="pane-content">
                                                        <div class="widget">
                                                            <h3 class="widget_title">Últimos videos</h3>

                                                            <ul class="list border">
                                                                <li class="item">

                                                                    <a href="https://www.eluniverso.com/2019/07/17/video/7429653/venezolana-muere-tras-accidente-transito-sur-guayaquil"> Venezolana muere tras accidente de tránsito en el sur de Guayaquil </a>
                                                                    <a class="th">
                                                                        <img src="https://eluniverso.com/sites/default/files/styles/videos_portada_principal/public/media-brightcove/6060460066001.jpg"
                                                                             alt="Venezolana muere tras accidente de tránsito en el sur de Guayaquil"
                                                                             onerror="this.onerror=null;this.src='https://www.eluniverso.com/sites/all/themes/eluniverso/images/eu-imagen-redes.jpg';" />
                                                                    </a>
                                                                </li>
                                                                <li class="item">

                                                                    <a href="https://www.eluniverso.com/2019/07/17/video/7429467/quevedo-persecucion-policial-termina-agentes-heridos"> En Quevedo persecución policial termina con agentes heridos </a>
                                                                    <a class="th">
                                                                        <img src="https://eluniverso.com/sites/default/files/styles/videos_portada_principal/public/media-brightcove/6060408770001.jpg"
                                                                             alt="En Quevedo persecución policial termina con agentes heridos"
                                                                             onerror="this.onerror=null;this.src='https://www.eluniverso.com/sites/all/themes/eluniverso/images/eu-imagen-redes.jpg';" />
                                                                    </a>
                                                                </li>
                                                                <li class="item">

                                                                    <a href="https://www.eluniverso.com/2019/07/17/video/7429404/taxistas-protestan-varias-ciudades-incumplimiento-gobierno"> Taxistas protestan en varias ciudades por incumplimiento del Gobierno </a>
                                                                    <a class="th">
                                                                        <img src="https://eluniverso.com/sites/default/files/styles/videos_portada_principal/public/media-brightcove/6060392204001.jpg"
                                                                             alt="Taxistas protestan en varias ciudades por incumplimiento del Gobierno"
                                                                             onerror="this.onerror=null;this.src='https://www.eluniverso.com/sites/all/themes/eluniverso/images/eu-imagen-redes.jpg';" />
                                                                    </a>
                                                                </li>
                                                            </ul>



                                                            <div class="more">
                                                                <a href="/videos"> Ver más videos </a>
                                                            </div>

                                                        </div>


                                                    </div>


                                                </div>
                                                <div class="panel-separator"></div><div class="panel-pane pane-block pane-block-823 pane-block widget">

                                                    <h2 class="pane-title">
                                                        Lo más leído
                                                    </h2>


                                                    <div class="pane-content">
                                                        <script>
                                                            jQuery(function () {
                                                                "use strict";
                                                                try {
                                                                    var timeStamp = (new Date().getTime());
                                                                    var lo_mas_leido_frm = document.getElementById('lo_mas_leido');
                                                                    lo_mas_leido_frm.src = 'https://www.eluniverso.com/files/widgetseu/charbeat/lomas2/index.html';
                                                                } catch (ex) { console.log(ex); }
                                                            });
                                                        </script>
                                                        <div id="div_iframe_lomas_chartbeat" class="pane-lo-mas">
                                                            <iframe title="El Universo lo más leído" width="100%" scrolling="no" height="450" frameborder="0" id="lo_mas_leido" src=""></iframe>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="panel-separator"></div><div class="panel-pane pane-block pane-block-316 pane-block">



                                                    <div class="pane-content">
                                                        <style>
                                                            .alternating-thumbnails-RR3 .videoCube {
                                                                width: 97.99% !important;
                                                            }
                                                        </style>
                                                        <style>
                                                            .alternating-thumbnails-RR3 .trc_rbox_header .trc_header_ext:before {
                                                                width: 12rem !important;
                                                            }

                                                            .alternating-thumbnails-RR3 .trc_rbox_header .trc_header_ext:after {
                                                                width: 12rem !important;
                                                            }
                                                        </style>
                                                        <div id="taboola-hybrid-right-rails"></div>
                                                        <script type="text/javascript">
                                                            window._taboola = window._taboola || [];
                                                            _taboola.push({
                                                                mode: 'alternating-thumbnails-RR3',
                                                                container: 'taboola-hybrid-right-rails',
                                                                placement: 'Hybrid Right Rails',
                                                                target_type: 'mix'
                                                            });
                                                        </script>
                                                    </div>


                                                </div>
                                                <div class="panel-separator"></div><div class="panel-pane pane-block pane-glr-dfp-26 pane-glr-dfp">



                                                    <div class="pane-content">
                                                        <!-- Adslot 26 declaration -->
                                                        <div id="Middle3" class="dfp-slot atm-banner-middle3" data-mapping='["[1024, 768], [[250,250],[300,250],[300,600]]","[980, 600], [[250,250],[300,250]]","[770, 300], [[250,250],[300,250]]","[0, 0], [[250,250],[300,250]]"]' data-size="[300,250]" data-label="Middle3" data-id="Universo_Middle3" show-on="medium,large,xlarge,xxlarge">
                                                            <script>
                                                                var dfpSlot = { "label": "Middle3", "seccion": ["frontpage", "noticias", "guayaquil", "deportes", "entretenimiento", "tendencias", "vida", "larevista", "opinion", "!frontopinion"], "subseccion": ["ALL"], "type": ["frontpage", "nota", "article"] };
                                                                var resolution = showSlot('medium,large,xlarge,xxlarge', sizeWindow);
                                                                var resultSlot = showZone(dfpSlot)
                                                                if (resolution && resultSlot) {
                                                                    cX.callQueue.push(['invoke', function () {
                                                                        googletag.cmd.push(function () { googletag.display('Middle3'); });
                                                                    }]); document.getElementById('Middle3').classList.add('publicity-content');
                                                                }
                                                            </script>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="panel-separator"></div><div class="panel-pane pane-block pane-block-842 pane-block">



                                                    <div class="pane-content">
                                                        <script>
                                                            jQuery(window).load(function () {
                                                                var paneElement = jQuery('.pane-glr-dfp-26');

                                                                if (typeof paneElement != 'undefined' && paneElement != null) {
                                                                    if (paneElement.length) {

                                                                        var fixmeTop = jQuery('.pane-glr-dfp-26').offset().top;     // get initial position of the element
                                                                        jQuery(window).scroll(function () {                  // assign scroll event listener
                                                                            var currentScroll = jQuery(window).scrollTop(); // get current position
                                                                            if ((currentScroll >= fixmeTop) && (currentScroll <= (fixmeTop + 2100))) {           // apply position: fixed if you
                                                                                jQuery('.pane-glr-dfp-26').css({                      // scroll to that element or below it
                                                                                    position: 'fixed',
                                                                                    width: '384px',
                                                                                    top: '60px',
                                                                                });
                                                                            } else {                                   // apply position: static
                                                                                jQuery('.pane-glr-dfp-26').css({                      // if you scroll above it
                                                                                    position: 'static',
                                                                                    top: '0px',
                                                                                });
                                                                            }
                                                                        });
                                                                    }
                                                                }
                                                            });
                                                        </script>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </main>
                    </div> <!-- /.content-inner, /#content -->


                </div>
            </div>
        </div> <!-- /.section-inner, /.section, /#main-inner -->
    </div> <!-- /.zone-wrapper -->
</div> <!-- /#main -->
