
@{
    ViewBag.Title = "Empresas";
}


<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="breadcrumb">
                    <li class="active"><a href="@Url.Action("Empresas","Home")">Empresas</a></li>

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>Empresas</h1>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row">

        <div class="col-lg-6">

            <h5 class="text-uppercase mt-4">Logban</h5>
            <span class="thumb-info thumb-info-side-image thumb-info-no-zoom">
                <span class="thumb-info-side-image-wrapper">
                    <img src="~/Content/img/Logban_logo.png" class="img-fluid" alt="" style="width: 200px;">

                </span>
                <span class="thumb-info-caption">
                    <span class="thumb-info-caption-text">
                        <h5 class="text-uppercase mb-1">
                            Logística Bananera S.A LOGBAN
                        </h5>
                        RUC: 0992734051001
                    </span>
                </span>
            </span>

        </div>
        <div class="col-lg-6">

            <h5 class="text-uppercase mt-4">UBESA</h5>
            <span class="thumb-info thumb-info-side-image thumb-info-no-zoom">
                <span class="thumb-info-side-image-wrapper">
                    <img src="~/Content/img/UBESA.jpg" class="img-fluid" alt="" style="width: 166px;">
                </span>
                <span class="thumb-info-caption">
                    <span class="thumb-info-caption-text">
                        <h5 class="text-uppercase mb-1">
                            Ubesa S.A.
                        </h5>
                        RUC: 0990011419001
                    </span>
                </span>
            </span>

        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <h5 class="text-uppercase mt-4">Empresas Fincas Propias</h5>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6">


            <span class="thumb-info thumb-info-side-image thumb-info-no-zoom">
                <span class="thumb-info-side-image-wrapper">
                    <img src="~/Content/img/Logo_MEGABANANA.jpg" class="img-fluid" alt="" style="width: 200px;">

                </span>
                <span class="thumb-info-caption">
                    <span class="thumb-info-caption-text">
                        <h5 class="text-uppercase mb-1">
                            Megabanana S.A.
                        </h5>
                        RUC: 0992144769001
                    </span>
                </span>
            </span>

        </div>
        <div class="col-lg-6">


            <span class="thumb-info thumb-info-side-image thumb-info-no-zoom">
                <span class="thumb-info-side-image-wrapper">
                    <img src="~/Content/img/logo_ZANPOTI.jpg" class="img-fluid" alt="" style="width: 200px;">

                </span>
                <span class="thumb-info-caption">
                    <span class="thumb-info-caption-text">
                        <h5 class="text-uppercase mb-1">
                            Zanpoti S.A.
                        </h5>
                        RUC: 0991459057001
                    </span>
                </span>
            </span>

        </div>

    </div>
    <div class="row">

        <div class="col-lg-6">


            <span class="thumb-info thumb-info-side-image thumb-info-no-zoom">
                <span class="thumb-info-side-image-wrapper">
                    <img src="~/Content/img/alberum_logo.jpg" class="img-fluid" alt="" style="width: 219px;">

                </span>
                <span class="thumb-info-caption">
                    <span class="thumb-info-caption-text">
                        <h5 class="text-uppercase mb-1">
                            Alberum S.A.
                        </h5>
                        RUC: 0992243392001
                    </span>
                </span>
            </span>

        </div>
        <div class="col-lg-6">


            <span class="thumb-info thumb-info-side-image thumb-info-no-zoom">
                <span class="thumb-info-side-image-wrapper">
                    <img src="~/Content/img/Logo-sapica.jpg" class="img-fluid" alt="" style="width: 200px;">

                </span>
                <span class="thumb-info-caption">
                    <span class="thumb-info-caption-text">
                        <h5 class="text-uppercase mb-1">
                            Sociedad Agropecuaria Pimocha S.A.

                        </h5>
                        RUC: 1290024206001
                    </span>
                </span>
            </span>

        </div>

    </div>

    <div class="row">

        <div class="col-lg-6">


            <span class="thumb-info thumb-info-side-image thumb-info-no-zoom">
                <span class="thumb-info-side-image-wrapper">
                    <img src="" class="img-fluid" alt="" style="width: 200px;">

                </span>
                <span class="thumb-info-caption">
                    <span class="thumb-info-caption-text">
                        <h5 class="text-uppercase mb-1">
                            Bancuber S.A.

                        </h5>
                        RUC: 0992175060001
                    </span>
                </span>
            </span>

        </div>

        <div class="col-lg-6">


            <span class="thumb-info thumb-info-side-image thumb-info-no-zoom">
                <span class="thumb-info-side-image-wrapper">
                    <img src="~/Content/img/BANAROYAL.jpg" class="img-fluid" alt="" style="width: 220px;">

                </span>
                <span class="thumb-info-caption">
                    <span class="thumb-info-caption-text">
                        <h5 class="text-uppercase mb-1">
                            Banaroyal S.A.

                        </h5>
                        RUC: 0992783923001
                    </span>
                </span>
            </span>

        </div>


    </div>

    <br />

    <div class="row">
        <div class="col-lg-12">
            <h5 class="text-uppercase mt-4">Empresas Bananapuerto</h5>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6">


            <span class="thumb-info thumb-info-side-image thumb-info-no-zoom">
                <span class="thumb-info-side-image-wrapper">
                    <img src="~/Content/img/logo_naportec.jpg" class="img-fluid" alt="" style="width: 200px;">

                </span>
                <span class="thumb-info-caption">
                    <span class="thumb-info-caption-text">
                        <h5 class="text-uppercase mb-1">
                            Naportec S.A.

                        </h5>
                        RUC: 0992201029001
                    </span>
                </span>
            </span>

        </div>
        <div class="col-lg-6">


            <span class="thumb-info thumb-info-side-image thumb-info-no-zoom">
                <span class="thumb-info-side-image-wrapper">
                    <img src="~/Content/img/pormar_Logo.png" class="img-fluid" alt="" style="width: 220px;">

                </span>
                <span class="thumb-info-caption">
                    <span class="thumb-info-caption-text">
                        <h5 class="text-uppercase mb-1">
                            Transportes Pormar S.A.
                        </h5>
                        RUC: 0990872511001
                    </span>
                </span>
            </span>

        </div>

    </div>
    <div class="row">

        <div class="col-lg-6">


            <span class="thumb-info thumb-info-side-image thumb-info-no-zoom">
                <span class="thumb-info-side-image-wrapper">
                    <img src="~/Content/img/Logo-Bananapuerto.jpg" class="img-fluid" alt="" style="width: 200px;">

                </span>
                <span class="thumb-info-caption">
                    <span class="thumb-info-caption-text">
                        <h5 class="text-uppercase mb-1">
                            Friocont S.A.
                        </h5>
                        RUC: 0990872775001
                    </span>
                </span>
            </span>

        </div>
        <div class="col-lg-6">


            <span class="thumb-info thumb-info-side-image thumb-info-no-zoom">
                <span class="thumb-info-side-image-wrapper">
                    <img src="~/Content/img/Logo-Bananapuerto.jpg" class="img-fluid" alt="" style="width: 200px;">

                </span>
                <span class="thumb-info-caption">
                    <span class="thumb-info-caption-text">
                        <h5 class="text-uppercase mb-1">
                            Tallan Talleres y Llantas S.A.
                        </h5>
                        RUC: 0990873054001
                    </span>
                </span>
            </span>

        </div>

    </div>

    <div class="row">

        <div class="col-lg-6">


            <span class="thumb-info thumb-info-side-image thumb-info-no-zoom">
                <span class="thumb-info-side-image-wrapper">
                    <img src="~/Content/img/Logo-Bananapuerto.jpg" class="img-fluid" alt="" style="width: 200px;">

                </span>
                <span class="thumb-info-caption">
                    <span class="thumb-info-caption-text">
                        <h5 class="text-uppercase mb-1">
                            Tecnielec Técnicos y Electricistas S.A.


                        </h5>
                        RUC: 0990872325001
                    </span>
                </span>
            </span>

        </div>


    </div>

    <div class="row">

        <div class="col-lg-6">

            <h5 class="text-uppercase mt-4">Empresa Banano Orgánico</h5>
            <span class="thumb-info thumb-info-side-image thumb-info-no-zoom">
                <span class="thumb-info-side-image-wrapper">
                    <img src="~/Content/img/logo_FRUTBAN.jpg" class="img-fluid" alt="" style="width: 100px;">

                </span>
                <span class="thumb-info-caption">
                    <span class="thumb-info-caption-text">
                        <h5 class="text-uppercase mb-1">
                            Frutban S.A.

                        </h5>
                        RUC: 0991398465001
                    </span>
                </span>
            </span>

        </div>
        <div class="col-lg-6">

            <h5 class="text-uppercase mt-4">Fundación Dale</h5>
            <span class="thumb-info thumb-info-side-image thumb-info-no-zoom">
                <span class="thumb-info-side-image-wrapper">
                    <img src="~/Content/img/logo_DALE.jpg" class="img-fluid" alt="" style="width: 100px;">

                </span>
                <span class="thumb-info-caption">
                    <span class="thumb-info-caption-text">
                        <h5 class="text-uppercase mb-1">
                            Fundación demos ayuda a los Ecuatorianos

                        </h5>
                        RUC: 0992220716001
                    </span>
                </span>
            </span>

        </div>

    </div>


</div>
