
@{
    ViewBag.Title = "Manual Operativo Trazabilidad";
}


<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="breadcrumb">
                    <li class="active"><a href="@Url.Action("DoleEcuador","Home")">Dole Ecuador</a></li>

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>Manual Operativo Trazabilidad</h1>
            </div>
        </div>
    </div>
</section>



<div class="container">
    <div class="row">
        <div class="col-lg-12">
            

               
                <span class="thumb-info thumb-info-side-image thumb-info-no-zoom">
                    <span class="thumb-info-side-image-wrapper">
                           <a href="~/Content/files/operativoTraza/manual_operativo_trazabilidad.pdf" target="_blank">
                        <img src="~/Content/img/NoP_PDF_downlaod.png" class="img-fluid" alt="" style="width: 200px;">
                       
                               
                        </a>
                    </span>
                    <span class="thumb-info-caption">
                        <span class="thumb-info-caption-text">
                            <h5 class="text-uppercase mb-1">Manual Operativo de Trazabilidad</h5>
                            <p class="text-justify">
                                "El presente manual tiene como objetivo brindar los lineamientos para la correcta aplicación del sistema de trazabilidad de la División Ecuador. El alcance del presente manual abarca al proceso de compra o producción de fruta, desde la planta empacadora hasta el medio de transporte definitivo, incluyendo todas las re-estibas que se realicen en centros de acopio o puerto. Para quienes conformamos la división Dole Ecuador, la ejecución de un sistema de trazabilidad nos permite suministrar información inmediata a los clientes internos y externos de la empresa, aumentando nuestra ventaja competitiva y asegurando el cumplimiento de los marcos regulatorios nacionales e internacionales."

                            </p>
                            <p class="text-justify">
                                Para consultas, comentarios u observaciones por favor contactar a María Sol Proaño, Analista Senior de Calidad, ext 2222.
                            </p>
                        </span>
                    </span>
                </span>


           


        </div>
    </div>
</div>

