
@{
    ViewBag.Title = "Servicio de Taxis";
}


<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col">
                
                    <ul class="breadcrumb">
                        <li>Personal</li>
                        <li>Servicios Administrativos</li>
                    </ul>
                
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>Servicio Taxis</h1>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-lg-4">

            <div class="card">
                <img class="card-img-top img-fluid text-center" src="~/Content/img/icon_pdf.png" style="width:100px;margin-left:120px" />
                <h5 class="card-title text-center">Logban_Guia de Usuario Corporativo_R02 </h5>
                <p class="card-text text-center">Guia de Usuario App Easy Car (PDF)</p>
                <a href="~/Content/files/taxis/LogbanGuiaApp.pdf" class="btn btn-primary" target="_blank">Visualizar</a>
            </div>



        </div>
        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top img-fluid text-center" src="~/Content/img/icon_pdf.png" style="width:100px;margin-left:120px" />
                <h5 class="card-title text-center">Naportec_Guia de Usuario Corporativo_R02</h5>
                <p class="card-text text-center">Guia de Usuario App Easy Car (PDF)</p>
                <a href="~/Content/files/taxis/NaportecGuiaApp.pdf" class="btn btn-primary" target="_blank">Visualizar</a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top img-fluid text-center" src="~/Content/img/icon_pdf.png" style="width:100px;margin-left:120px" />
                <h5 class="card-title text-center">Carreras pactadas</h5>
                <p class="card-text text-center">Costos de Carreras Pactadas (PDF)</p>
                <a href="~/Content/files/taxis/CarrerasPactadas.pdf" class="btn btn-primary" target="_blank">Visualizar</a>
            </div>

        </div>
    </div>
</div>