<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <h3>Motivo del rechazo</h3>
        </div>
            
    </div>
    <div class="row">       
        <div class="col-md-12" style="text-align:center">
            <textarea class="form-control"  id="txtMotivoRechazo" ></textarea>
        </div>

    </div>
    <br /> 
    <div class="row" >
        <div class="col-md-12" style="text-align:right">
            <button class="btn btn-success" type="button" onclick="EnviarFlujo('R');"> Guardar & Enviar</button>
        </div>
       

    </div>

</div>
